ul {
    list-style: none;
}

li{
    list-style: none;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}


header nav li {
    display: inline-block;
}

header nav a {
    text-decoration: none;
    color: #fff;
    margin-right: 30px;
    
}

.logo {
    display: flex;
    float: left;
}

header nav a:hover {
    text-decoration: underline 2px;
    color: yellow;
    transition: color 0.2s; 
}

footer {
    background-color: #333;
    color: #fff;
    text-align: left;
    padding: 10px;
}

body {
    background-color: #808080 ;
    margin: auto;
    font-size: large;
}

h1{
    text-align: center;
}

iframe {
    margin-top: 20px;
    
}
.cont {
     max-width: 800px;
     margin: 0 auto;
     padding: 20px
}
td {
    text-align: center;
    border: 2px solid black;
    border-collapse: collapse;
}

table {
    border-collapse: collapse;
}

.light-theme {
    background-color: white;
    color: black;
  }
  

.dark-theme {
    background-color: #333;
    color: white;
  }


